## Author:Tian Song
## Date:20180918

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
os.chdir('F:\\')

In [4]:
text = pd.read_table('2.txt',header = None)

In [5]:
text.head()

   0      1  2
0  1  2.1.3  5
1  1  2.2.1  5
2  1  2.2.5  5
3  1  2.3.8  5
4  1  2.6.4  5

In [ ]:
createVar = locals()

In [35]:
for i in range(1,20):
    createVar['data' + str(i)] = text[1][text[0] == i]